.booking-details-heading{
    font-size: xx-large;
    font-weight: 600;

}

.booking-details-page{
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 10px auto;
    width: 80%;
}

.details-panel-header{
    padding: 10px;
    background: #204f9a !important;
    color: #FFF;
}

.booking-sub-header{
    margin: 10px;
    text-align: left;
}

.details-table-data-main{
    font-weight: 700;
}

.details-data{
    width:70%
}
